#carousel {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  -o-user-select: none;
  user-select: none;
}

#carousel .pager {
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 130px;
  cursor: pointer;
  background-color: rgb(183, 185, 184);
}

#carousel .pager.disabled {
  background-color: rgb(0, 0, 0);
  cursor: default;
}

#carousel .left-pager {
  left: 0;
}

#carousel .right-pager {
  right: 0;
}

#carousel .display {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 60px;
  overflow: hidden;
}

#carousel .display img {
  display: none;
  position: absolute;
  height: 100%;
  top: 0;
  left: 50%;
}

#carousel .display img.visible {
  display: block;
}

#carousel .footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 80px;
  background: #ffffff;
  overflow: hidden;
}

#carousel .footer .categories-outer-wrapper {
  position: relative;
  left: 50%;
  float: left;
  height: 100%; 
}

#carousel .footer .categories-outer-wrapper .categories-inner-wrapper {
  position: relative;
  left: -50%;
  float: left;
  height: 100%;
}

#carousel .footer .category-container {
  position: relative;
  float: left;
  height: 100%;
  width: 80px;
}

#carousel .footer .category-container a.category {
  display: block;
  height: 100%;
  width: 100%;
  cursor: pointer;
  color: #000000;
  text-align: center;
}

#carousel .footer .category-container .category span {
  display: block;
}

@media all and (min-width: 990px) {

  #carousel .display {
    bottom: 120px;
  }

  #carousel .footer {
    height: 120px;
  }
  #carousel .footer .category-container {
    width: 100px;
  }

  #carousel .pager {
    top: 250px;
  }
}