html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: 'Nunito', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
  background-color: #FFFFFF;
  box-sizing: border-box;
  min-height: 100%;
}

.app-bar {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000000;
  z-index: 1;
}

.app-bar-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
  position: relative;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
  background: #000000 url("../images/header-bg.jpg") repeat left top;
}

.app-bar-container img.logo {
  position: absolute;
  top: 12px;
  left: 50%;
  width: 80px;
  height: 80px;
  margin-left: -40px;
}

.description-container {
  display: none;
  height: 100%;
  color: #ffffff;
  padding-left: 185px;
}

.description-container .description {
  position: absolute;
  bottom: 0;
  padding-bottom: 10px;
}

.promote-layer {
  /*
  This may promote the layer to a composited
  layer.

  Replace with will-change when available

  #perfmatters
  */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.base, p, ul, ol {
  font-size: 19px;
}

main {
  margin: 0 auto;
  /* Height of the header */
  padding: 60px 16px 16px 16px;
  min-height: 100%;
}

/** Larger Screens - desktops and tablets **/
@media all and (min-width: 990px) {
  .app-bar {
    position: relative;
  }

  .app-bar-container {
    display: block;
    height: 120px;
    padding: 0 16px;
    box-sizing: border-box;
  }

  .app-bar::after {
    content: ' ';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }

  .app-bar-container img.logo {
    top: 36px;
    left: 40px;
    width: 140px;
    height: 140px;
    margin-left: 0;
  }

  .description-container {
    display: block;
  }

  main {
    max-width: 864px;
    padding-top: 0;
    min-height: initial;
  }

  body {
    overflow-y: scroll;
  }

}