html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: 'Nunito', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
  background-color: #FFFFFF;
  box-sizing: border-box;
  min-height: 100%;
}

.app-bar {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000000;
  z-index: 1;
}

.app-bar-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
  position: relative;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
  background: #000000 url("../images/header-bg.jpg") repeat center top;
}

.logo-container {
  position: relative;
  height: 100%;
  margin: 0 auto;
}

.logo-container img.logo {
  position: relative;
  top: 12px;
  width: 80px;
  height: 80px;
}

.description-container {
  display: none;
}

.contact-container {
  display: none;
}

.promote-layer {
  /*
  This may promote the layer to a composited
  layer.

  Replace with will-change when available

  #perfmatters
  */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.base, p, ul, ol {
  font-size: 19px;
}

main {
  position: absolute;
  width: 100%;
  top: 60px;
  bottom: 0;
}

/** Larger Screens - desktops and tablets **/
@media all and (min-width: 990px) {
  .app-bar {
    position: relative;
  }

  .app-bar-container {
    display: block;
    height: 120px;
    padding: 0 16px;
    box-sizing: border-box;
    background-position: left top;
  }

  .app-bar::after {
    content: ' ';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }

  .logo-container {
    position: relative;
    height: 100%;
    float: left;
  }

  .logo-container img.logo {
    position: relative;
    top: 36px;
    padding-left: 24px;
    padding-right: 24px;
    width: 140px;
    height: 140px;
  }

  .description-container {
    display: block;
    position: relative;
    height: 100%;
    width: 300px;
    float: left;
  }

  .description-container .description {
    position: absolute;
    bottom: 0;
    padding-bottom: 6px;
  }

  .description-container .description p {
    position: relative;
    color: #ffffff;
    font-size: 15px;
    margin: 5px 0;
  }

  .contact-container {
    display: block;
    position: relative;
    height: 100%;
    float: right;
    width: 200px;
  }

  .contact-container .contact {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 16px;
  }

  .contact-container .contact .contact-button {
    padding: 0 6px;
    display: inline-block;
  }

  .contact-button .email {
    background: transparent url("../images/icon-email.png") no-repeat center center;
    width: 36px;
    height: 22px;
    margin: 2px 2px;
  }

  .contact-button .twitter {
    background: transparent url("../images/icon-twitter.png") no-repeat center center;
    width: 32px;
    height: 26px;
    margin: 0 4px;
  }

  .icon {
    display: inline-block;
    background-color: red;
    overflow: hidden;
  }

  main {
    top: 120px;
  }

  body {
    overflow-y: scroll;
  }

}